extends layout
block content
  .result
    h1 Animated GIF of the Vine video
    p.lead Wait until it converts... the first time can take up to 30 seconds.
    img(src="/gif/#{id}", alt='Animated GIF from a Vine video', id='gvine-image')
    p.urls
      | Vine:
      a(id="vine-url", href="https://vine.co/v/#{id}") https://vine.co/v/#{id}
      | – GVine:
      a(id="gvine-url", href="/v/#{id}") http://gvine.co/v/#{id}
